.Profile{
   width:25%;
   position:absolute;
   top: 70px;
   left: 880px;

   .avatar{
    height: 90px;
    width: 90px;
    border-radius: 51%;
    border: 2px solid black;
    position: relative;
    left: 110px;
    z-index: 1;
}
    .profile-info{
        border: 2px solid black;
        border-radius: 10px;
        position: relative;
        top: -40px;
        padding: 10px;
        height:100px;
        color: black;
        .data{
            width: fit-content;
            margin: auto;
            margin-top: 30px;
            
            
        .name{
            display: flex;
            gap: 5px;
            margin-top: 5px;
            
            p{
                font-family: sans-serif;
                font-size: 17px;
                
                
            }
        }
        .Bio{
            margin-left: 10px;
            
        }
        
    }
    }
}