.ProfilePage{
    margin-top: 60px;
    .Images{
        width: 95%;
        border-bottom: 1px solid grey;
        margin: auto;
        display: grid;
        .coverimage{
            width: 80%;
            height: 340px;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            margin: auto;
            object-fit: fill;
            border-radius: 0px 0px 10px 10px;
            
        }
        .avatar{
            height: 150px;
            width: 150px;
            position: relative;
            top: -35px;
            left: 200px;
            border: 2px solid black;
            border-radius: 50%;
        }
        .Name{
            display: flex;
            gap: 5px;
            position: relative;
            top: -135px;
            left:385px;
            width: fit-content;
            h1{
                position:absolute;
                top: 30px;
                left: 4px;
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
                font-style:oblique;
            }
            p{  
                font-family: sans-serif;
                font-size: 28px;
                font-weight: 700;
            }          
        }
    // .Updateprofile{
    //     width: fit-content;
    //     position: absolute;
    //     top: 420px;
    //     left: 800px;
    //     padding:2px 7px;
    //     display: flex;
    //     border-radius: 6px;
    //     cursor: pointer;
    //     p{
    //         font-family: sans-serif;
    //         padding: 7px;
    //     }
    // }
    }
    .profile-info{
        
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 7px;
        width: 380px;
        height: 350px;
        margin-top: 15px;
        position: relative;
        left:-20px;
        margin-left: 190px;
        h4{
            font-family: sans-serif;
            position: relative;
            top: 13px;
            left: 13px;
        }
        .data{
            margin-top: 30px;
            border-radius: 8px;
            width: 355px;
            padding: 5px;
            position: relative;
            left: 13px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        
        .Bio,.DOB,.Location,.Phonenumber,.Mail{
            
            margin: 5px;
            padding: 10px;
            border-radius: 7px;
            font-family: sans-serif;
            &:hover{
                background: #d4d0d0;
            }
        }
        .Updateprofile{
            width: 335px;
            margin: 5px;
            padding: 10px;
            border-radius: 7px;
            border: none;
            p{font-family: sans-serif;}
            &:hover{
                background-color:rgb(225, 220, 220);
            }
        }
    }
    .GetuserprofilebyUsername{
        position: absolute;
        top: 560px;
    }
    .profilepage-createpost{
       position: absolute;
       top:598px;
       left:560px;
    }
    .Getmyposts{
        position: absolute;
        left: 260px;
        top: 700px;
    }
    .Profilepage-loader{ 
       position: absolute;
       top: 50%;
       left: 45%;
    }
}