
  
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent overlay
    z-index: 1000;
  }
  
  .ProfileUpdate {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1100;
    max-width: 90%;
    width: 500px; // Fixed width
    max-height: 90vh; // Allow the modal to be scrollable if content exceeds screen height
    overflow-y: auto; // Enable vertical scrolling
    padding: 1.5rem;
    scrollbar-width:none;
  }
  
  .ProfileUpdate .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .ProfileUpdate .head h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: sans-serif;
  }
  
  .ProfileUpdate .head button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .ProfileUpdate form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; // Add spacing between form fields
  }
  
  .ProfileUpdate label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    
  }
  .Name{
    .fName{
      padding-bottom: 18px;
    }
  }
  .ProfileUpdate input,
  .ProfileUpdate textarea {
    width: 100%;
    padding: 10px;
    margin-top:5px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: sans-serif;
  }
  
  .ProfileUpdate textarea {
    resize: none;
    height: 100px; // Adjust height as needed
    font-family: sans-serif;
  }
  
  .ProfileUpdate .update-btn {
    padding: 0.8rem 1.5rem;
    background-color: #629584;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ProfileUpdate .update-btn:hover {
    background-color: #243642;
  }
  


  