.updatecoverpage{
    
    border: 1px solid grey;
    border-radius: 6px;
    width: fit-content;
    padding: 0px 5px;
    align-items: center;
    position: absolute;
    top: 350px;
    left: 914px;
    background-color: rgb(196, 186, 186);
    label{
        display: inline-flex;
        p{
        font-family: sans-serif;
        padding-left: 5px;
        padding-top: 8px;
}
       
    }
}