.profile {
  
  .Profile-img {
    text-align: center;
    border-radius: 10px;
  }
  .avatar {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    margin: 0 auto;
    top: -10%;
    background-color: white;
    z-index: 1;
  }

  .profile-info {
    border: 2px solid black;
    width: 400px;
    border-radius: 10px;
    padding: 20px 50px 10px 50px;
  
    width: 100%;
    margin-top: -30px;
    background-color: #ffffff;
    text-align: center;
    color: black;
  }

  .profile-info .data {
    margin: 0 auto;
  }

  .profile-info .name {
    margin-top: 7px;
  }

  .profile-info .name p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #333;
  }

  .profile-info .Bio {
    margin-top: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #555;
  }
}
