 
    .suggestions {
      max-width: 100%;
      max-width: fit-content;
      
      p {
        font-family: sans-serif;
        font-weight: 700;
        max-width: 100%;
        max-width: fit-content;

      }
      .user-tile {
        display: flex;
        border-radius: 8px;
        margin: 4px;
        padding: 3px 10px;
        max-width: 280px;
        width: 100%;
      
        &:hover {
          background: #d4d0d0;
        }
      
        .icons > img {
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }
      
        .suggestionname {
          font-family: sans-serif;
          margin-left: 15px;
          text-align: center;
          margin-top: 11px;
          height: fit-content;
      
          span {
            height: 5px;
            width: 5px;
            margin-left: 10px;
          }
        }
      }
    }